:root {
    --c-bg-muted: #1C1C1C;

    --c-txt-muted: #DAB785;
    --c-txt-hover: #D5896F;

    --c-box-muted: #9381FF;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
    font-family: 'Inter';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


#first,
.sectionCenter {
    max-width: 1440px;
}

.wrapper,
.sectionCenter {
    display: flex;
    justify-content: center;
}

.sectionCenter {
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.wrapper:first-of-type {
    background: var(--c-bg-muted);
}

#first {
    display: flex;
    flex-direction: column;
    gap: 7em;
    padding: 1rem 14rem 7rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#navLogo {
    font-size: 35px;
    font-weight: bold;
    color: var(--c-txt-muted)
}


nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    color: var(--c-txt-muted);
}

nav ul li:hover {
    color: var(--c-txt-hover);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#heroLeft,
#heroRight {
    flex: 1 1 0;
}

#heroLeft p {
    color: var(--c-txt-muted);
}

#heroLeft h2 {
    color: var(--c-txt-hover);
    font-size: 55px;
    font-weight: 600;
    margin: 0;
}

#heroRight {
    display: flex;
}

#heroRight img {
    flex: 1;
    object-fit: cover;
    max-height: calc(300px - 3rem);
    border-radius: 7px;
}

.shopNow {
    font-size: 15px;
    padding-inline: 2rem;
    padding-block: 7px;
    border-radius: 7px;
    font-weight: bold;
    background-color: var(--c-txt-muted);
    color: var(--c-bg-muted);
    outline: none;
    border: 3px solid var(--c-txt-muted)
}


#second {
    padding: 4rem 0;
}

#second h3{
    color: var(--c-bg-muted);
    margin-bottom: 3rem;
    font-size: 1.4rem;
    /* text-align: center; */
}

#infoWrapper {
    display: flex;
    gap: 2rem;
}

.info li {
    color: var(--c-bg-muted)
}

.infoBox {
    width: 170px;
    height: 170px;
}

.info {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;
    text-align: center;
}

#box1 {
    background-color: var(--c-txt-hover)
}

#box2 {
    background-color: var(--c-txt-hover)
}

#box3 {
    background-color: var(--c-txt-hover)
}

#box4 {
    background-color: var(--c-txt-hover)
}

#thirdWrapper {
    background: var(--c-txt-muted);
}

#third {
    padding: 3rem 10rem;

}

#third em {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

#third h4 {
    margin: 0;
    align-self: flex-end;
}

#fourth {
    padding-inline: 14rem;
}

#cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
    gap: 2em;

    padding: 3rem 10rem;
    margin-bottom: 3rem;

    background-color: var(--c-box-muted);
}

#cta h4 {
    margin: 0;
}

#cta p {
    margin: 0;
}

#cta-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.signUp.cta {
    padding-inline: 2rem;
    padding-block: 10px;
    outline: none;
    background-color: var(--c-txt-muted);
    color: var(--c-bg-muted);
    border: 2px solid var(--c-txt-muted);
    border-radius: 10px;
}

footer {
    display: flex;
    color: var(--c-bg-muted);
    justify-content: center;
    align-items: center;
    background-color: var(--c-bg-muted);
    padding: 20px;
}

footer p {
    color: var(--c-txt-muted);
    font-size: 1.3em;
}
